<div class="preview__bottom-inner">
    <div class="preview__bottom-items marquee">
        <div class="preview__bottom-item">
            Дело помощи утопающим — дело рук самих утопающих!
        </div>
        <span class="block-point"></span>
        <div class="preview__bottom-item">
            Шахматы двигают вперед не только культуру, но и экономику!
        </div>
        <span class="block-point"></span>
        <div class="preview__bottom-item">Лед тронулся, господа присяжные заседатели!</div>
        <span class="block-point"></span>
    </div>
    <div class="preview__bottom-items marquee">
        <div class="preview__bottom-item">
            Дело помощи утопающим — дело рук самих утопающих!
        </div>
        <span class="block-point"></span>
        <div class="preview__bottom-item">
            Шахматы двигают вперед не только культуру, но и экономику!
        </div>
        <span class="block-point"></span>
        <div class="preview__bottom-item">Лед тронулся, господа присяжные заседатели!</div>
        <span class="block-point"></span>
    </div>
</div>