
    <div class="stages__aside-children--one background__children">
        <span class="children-span">1</span>
        <span class="children-text">
            Строительство железнодорожной магистрали Москва-Васюки
        </span>
    </div>
    <div class="stages__aside-children--two background__children">
        <span class="children-span">2</span>
        <span class="children-text">
            Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
        </span>
    </div>
    <div class="stages__aside-children--three background__children">
        <span class="children-span">3</span>
        <span class="children-text">
            Поднятие сельского <br> хозяйства в радиусе <br> на тысячу километров: производство
            овощей, фруктов, икры, шоколадных конфет
        </span>
    </div>
    <div class="stages__aside-children--four background__children">
        <span class="children-span">4</span>
        <span class="children-text">
            Строительство дворца <br> для турнира
        </span>
    </div>
    <div class="stages__aside-children--five background__children">
        <span class="children-span">5</span>
        <span class="children-text">
            Размещение гаражей <br> для гостевого <br> автотранспорта
        </span>
    </div>
    <div class="stages__aside-children--six background__children">
        <span class="children-text">
            Поднятие сельского хозяйства в радиусе на тысячу километров: производство
            овощей, фруктов, икры, шоколадных конфет
        </span>
    </div>
    <div class="stages__aside-children--seven background__children">
        <span class="children-span">6</span>
        <span class="children-text">
            Постройка сверхмощной <br> радиостанции для передачи всему миру сенсационных
            результатов
        </span>
    </div>
    <div class="stages__aside-children--eight background__children">
        <span class="children-span">7</span>
        <span class="children-text">
            Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых
            самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
        </span>
    </div>
