@media (min-width: 1500px) {
    .preview::after {
        background-position: bottom 0.7em right 5em
    }

    .sliderS__button {
        right: 20%;
    }
}

@media (max-width: 1280px) {

    .container {
        padding: 0 20px;
    }

    .preview {
        height: 100%;
    }

    .preview__body-block {
        max-width: 100%;
    }

    .preview__body-btns {
        flex-direction: column;
    }

    .button__default-black {
        width: 100%;
    }

    .button__default-black span {
        max-width: 100%;
    }

    .button__default-transparent {
        margin-top: 14px;
        margin-left: 0;
        width: 100%;
        background: #fff;
        opacity: 0.9;
    }

    .button__default-transparent span {
        max-width: 100%;
    }

    .information__header-image {
        margin-left: 0;
    }

    .information__header-image img {
        max-width: none;
        min-width: 100%;
    }

    .information__header-text {
        font-size: 25px;
        max-width: 450px;
    }

    .information__body {
        margin-top: 34px;
        flex-direction: column;
        align-items: center;
    }

    .information__body-list {
        margin-left: 0;
        margin-top: 24px;
    }

    .stages {
        margin-top: 100px;
    }

    .stages__aside::after{
        top: -230px;
        bottom: 0;
        right: 0;
        left: 50%;
        z-index: -1;
    }

    .stages__tiny-title{
        font-size: 30px;
        max-width: 410px;
    }

    .stages__tiny span{
        max-width: 100%;
        left: 0;
        top: 100%;
    }

    .stages__aside{
        margin-top: 200px;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        margin-bottom: 200px;
    }

    .stages__aside-children--one {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
    }
    
    .stages__aside-children--two {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
    }
    
    .stages__aside-children--three {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
    }
    
    .stages__aside-children--four {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
    }
    
    .stages__aside-children--five {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        flex-direction: column;
    
    }
        
    .stages__aside-children--seven {
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        flex-direction: column;
    }
    
    .stages__aside-children--eight {
        grid-area: 4 / 1 / 5 / 3;
        display: flex;
        flex-direction: column;
    }
    .hidden{
        display: flex;
    }

    .children-text{
        margin-top: 10px;
    }
    .children-text:last-child {
        max-width: 100%;
    }

}

@media (max-width: 764px) {

    .header {
        margin-top: 18px;
    }

    .preview__body {
        margin-top: 40px;
    }

    .preview {
        height: 113%;
    }

    .preview::after {
        background-position: bottom -23px right -19em;
    }

    .preview__body {
        margin-top: 37px;
    }

    .preview__body-text {
        text-align: left;
        margin-top: 25px;
    }

    .preview__body-btns {
        margin-top: 30px;
    }

    .button__default-black {
        height: 47px;
    }

    .button__default-transparent {
        height: 47px;
    }

    .preview__bottom {
        height: 38px;
    }

    .preview__bottom-item {
        font-size: 16px;
    }

    .preview__bottom-item {
        margin: 10px 0;
    }

    .information__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .media__md {
        margin-bottom: 350px;
    }

    .information__header-image {
        position: absolute;
        top: 26%;
        left: 0;
    }

    .information__list-text {
        font-size: 28px;
    }

    .information__list-card {
        display: flex;
        flex-direction: column;
    }

    .information__list-card::after {
        display: none;
    }

    .text-bold {
        margin-top: 12px;
        margin-left: 0;
    }
    .slider__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider {
        margin-top: 60px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 350px;
    }
    .sliderS__button {
        top: 508px;
        right: 100px;
    }

    [data-stagesGrid]{
        display: none;
    }

    [data-stagesSwiper]{
        display: block;
    }

    [data-parent-element] {
        width: 100%;
    }
    .children-text{
        font-size: 18px;
        line-height: 120%;
        max-width: 100%
    }
    .stages__tiny-title::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -259px;
        right: -1px;
        width: 335px;
        height: 182px;
        background-image: url(../images/image/stages-image-mobile.png);
        background-repeat: no-repeat;
        z-index: 10;
    }

    .stages__button{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -62px;
        left: 0;
    }
    .stages__aside-children:last-child {
        margin-top: 42px;
    }
    .stages__prev {
        margin-right: 10px;
    }
    .stages__next {
        margin-left: 15px;
    }

    .sliderS__button {
        top: 580px;
        right: 0;
    }
}

@media (max-width: 429px) {
    .preview {
        height: 812px;
    }
    .preview::after {
        background-image: url("../images/image/bg-preview-375.png");
        background-position: bottom 16px right 0em;
    }

    .information {
        margin-top: 50px;
    }

    .information__header-text {
        padding: 0 2px;
        font-size: 28px;
    }

    .information__header-image {
        position: absolute;
        top: 31%;
        left: 0%;
    }

    .information__header-image img {
        max-width: 333px;
        min-width: 333px;
    }

    .media__md {
        margin-bottom: 265px;
    }

    .information__body-image img {
        width: 359px;
    }

    .information__list-card {
        padding: 15px 0;
    }

    .information__body-list {
        margin-top: 11px;
    }

    .information__list-info {
        margin-top: 30px;
    }

    .media--md-text {
        align-items: center;
        flex-direction: row;
    }

    .media--md-bold {
        margin-left: 16px;
    }

    .text-bold {
        margin-top: 10px
    }
    .information__list-text{
        padding: 0 9px;
    }
    .information__list-text--bottom {
        margin-top: 26px;
    }
    
    .stages {
        margin-top: 134px
    }
    .stages__tiny-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 110%;
    }

    .stages__tiny span {
        margin-top: 10px;
    }

    .swiper-slide{
        padding: 0 0;
        margin-right: 10px;   
    }
    [data-parent-element] {
        width: 335px;
    }

    .stages__aside-children:last-child{
        margin-top: 42px;
    }

    .stages__button{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -62px;
        left: 80px;
    }
    .stages__next{
        margin-left: 15px;
    }

    .stages__prev{
        margin-right: 10px;
    }

    .sliderS{
        margin-top: 188px;
        margin-bottom: 215px;
    }
    
    .stages__tiny-title::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -259px;
        right: -1px;
        width: 335px;
        height: 182px;
        background-image: url(../images/image/stages-image-mobile.png);
        background-repeat: no-repeat;
        z-index: 10;
    }

    .sliderS__title{
        font-size: 36px;
        line-height: 110%;
    }


    .slide__images img {
        width: 242px;
        height: 243px;
    }

    .slider__wrapper{
        margin-top: -17px;
    }
    .sliderS__button {
        top: 489px;
        right: 103px;
    }

    .prev svg {
        width: 36px;
    }
    .next svg {
        width: 36px;
    }
}

@media (min-width: 376px) and (max-width: 429px) {
    .information__header-image {
        position: absolute;
        top: 25%;
        left: 0%;
    }
}

@media (max-width: 374px) {
    [data-parent-element] {
        width: 100%;
    }

    .swiper-slide {
        padding: 0 10px;
        margin-right: 0;
    }

    [data-parent-element] {
        padding-top: 42px;
        padding-left: 20px;
        padding-right: 24px;
        padding-bottom: 20px;
    }

    .stages__aside-children:last-child {
        margin-top: 22px;
    }
}